In [144]:
import pandas as pd
import numpy as np

data = {'Group Promo': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
        'Keaktifan': ["Aktif","Aktif","Aktif","Aktif","Aktif","Aktif","Aktif","Aktif","Tidak aktif","Tidak aktif","Tidak aktif","Tidak aktif","Tidak aktif","Tidak aktif","Tidak aktif","Tidak aktif"],
        "Purchasing Score": ["Tinggi","Tinggi","Tinggi","Tinggi","Rendah","Rendah","Rendah","Rendah","Tinggi","Tinggi","Tinggi","Tinggi","Rendah","Rendah","Rendah","Rendah"],
        "Gender": ["Pria","Pria","Wanita","Wanita","Pria","Pria","Wanita","Wanita","Pria","Pria","Wanita","Wanita","Pria","Pria","Wanita","Wanita"],
        "Customer category": ["Gold", "Silver", "Gold", "Silver","Gold", "Silver","Gold", "Silver","Gold", "Silver","Gold", "Silver","Gold", "Silver","Gold", "Silver"]
       }

df = pd.DataFrame(data)
df

    Group Promo    Keaktifan Purchasing Score  Gender Customer category
0             1        Aktif           Tinggi    Pria              Gold
1             2        Aktif           Tinggi    Pria            Silver
2             3        Aktif           Tinggi  Wanita              Gold
3             4        Aktif           Tinggi  Wanita            Silver
4             5        Aktif           Rendah    Pria              Gold
5             6        Aktif           Rendah    Pria            Silver
6             7        Aktif           Rendah  Wanita              Gold
7             8        Aktif           Rendah  Wanita            Silver
8             9  Tidak aktif           Tinggi    Pria              Gold
9            10  Tidak aktif           Tinggi    Pria            Silver
10           11  Tidak aktif           Tinggi  Wanita              Gold
11           12  Tidak aktif           Tinggi  Wanita            Silver
12           13  Tidak aktif           Rendah    Pria              Gold
13           14  Tidak aktif           Rendah    Pria            Silver
14           15  Tidak aktif           Rendah  Wanita              Gold
15           16  Tidak aktif           Rendah  Wanita            Silver

In [145]:
df.iloc[0,1:5]

Keaktifan             Aktif
Purchasing Score     Tinggi
Gender                 Pria
Customer category      Gold
Name: 0, dtype: object

# Input name and list values

In [146]:
# import sys

# input customer name
name = input("Nama customer: ")

# if let say the list value will be changed/dynamic value, we can get the columns values and apply unique and then put those in the list below
# assume attributes values remain the same 
list_values = ["Aktif", "Tidak aktif", "Tinggi", "Rendah", "Pria", "Wanita", "Gold", "Silver", "-"]

# try block to handle the exception
try:
    customer_data = []
    i=0
    print("Masukkan data customer: ")
    while i < 4: # assumption: the users input is already in right order (1: Keaktifan, 2: Purchasing Score, 3: Gender, 4: Customer category)
        data = input()
        if data not in list_values:
            raise ValueError("Wrong input Value")
        customer_data.append(data)
        i += 1
         
# if users input the wrong value, print the error and the list
except ValueError as e:
    print(e, customer_data)
#     sys.exit(1)

Nama customer: s
Masukkan data customer:
Tidak aktif
-
-
Gold

# Function 1

To determine the user's group if the given attributes are complete (no "-" values)

**RUN THIS CELL ONLY IF "-" NOT INCLUDED IN THE LIST**

In [147]:
# RUN THIS CELL ONLY IF "-" NOT INCLUDED IN THE LIST
def determine_group(customer_data):
    df['Flag'] = df.apply(lambda x: 1 if customer_data[0] == x[1] and customer_data[1] == x[2] and customer_data[2] == x[3] and customer_data[3] == x[4] else 0, axis=1)
    group_promo = df[df["Flag"] == 1].iloc[0]["Group Promo"]
    return group_promo

print(name,"berpotensi masuk ke dalam group promo:",determine_group(customer_data))

In [148]:
df

    Group Promo    Keaktifan Purchasing Score  Gender Customer category
0             1        Aktif           Tinggi    Pria              Gold
1             2        Aktif           Tinggi    Pria            Silver
2             3        Aktif           Tinggi  Wanita              Gold
3             4        Aktif           Tinggi  Wanita            Silver
4             5        Aktif           Rendah    Pria              Gold
5             6        Aktif           Rendah    Pria            Silver
6             7        Aktif           Rendah  Wanita              Gold
7             8        Aktif           Rendah  Wanita            Silver
8             9  Tidak aktif           Tinggi    Pria              Gold
9            10  Tidak aktif           Tinggi    Pria            Silver
10           11  Tidak aktif           Tinggi  Wanita              Gold
11           12  Tidak aktif           Tinggi  Wanita            Silver
12           13  Tidak aktif           Rendah    Pria              Gold
13           14  Tidak aktif           Rendah    Pria            Silver
14           15  Tidak aktif           Rendah  Wanita              Gold
15           16  Tidak aktif           Rendah  Wanita            Silver

# Function 2

To determine the user's group if the given attributes aren't complete ("-" exists)

In [149]:
def potential_customer_group(customer_name, customer_data): 
    if "-" not in customer_data: # if the customer_data is complete

        df['Flag'] = df.apply(lambda x: 1 if customer_data[0] == x[1] and customer_data[1] == x[2] and customer_data[2] == x[3] and customer_data[3] == x[4] else 0, axis=1)
        group_promo = df[df["Flag"] == 1].iloc[0]["Group Promo"]

    else: # if the customer_data isn't complete

        idx_list = []

        if customer_data[0] == "-":
    #         get Keaktifan values
            keaktifan = list(df["Keaktifan"].unique())
            idx_list.append(0)
        if customer_data[1] == "-":
    #         get Purchasing Score values
            purchasing_score = list(df["Purchasing Score"].unique())
            idx_list.append(1)
        if customer_data[2] == "-":
    #         get Gender values
            gender = list(df["Gender"].unique())
            idx_list.append(2)
        if customer_data[3] == "-":
    #         get Customer category values
            customer_category = list(df["Customer category"].unique())
            idx_list.append(3)

        temp_list = customer_data.copy()
        super_list = [temp_list] # super list will contain all the combination possibilities for the grouping result (list of list)
        l = len(idx_list)

        for i in range(l): # iteration for attributes with "-" value (keaktifan, purchasing, gender, category)
            iter_list = [] # updated to empty every iteration
            super_list_length = len(super_list)

            if idx_list[i] == 0:
                n = len(keaktifan)
                for j in range(n): # iteration for keaktifan values possibilities
                    for z in range(super_list_length): # iteration for super list
                        temp = super_list[z].copy()
                        temp[0] = keaktifan[j]
                        iter_list.append(temp)
            elif idx_list[i] == 1:
                n = len(purchasing_score)
                for j in range(n): # iteration for purchasing values possibilities
                    for z in range(super_list_length): # iteration for super list
                        temp = super_list[z].copy()
                        temp[1] = purchasing_score[j]
                        iter_list.append(temp)
            elif idx_list[i] == 2:
                n = len(gender)
                for j in range(n): # iteration for gender values possibilities
                    for z in range(super_list_length): # iteration for super list
                        temp = super_list[z].copy()
                        temp[2] = gender[j]
                        iter_list.append(temp)
            elif idx_list[i] == 3:
                n = len(customer_category)
                for j in range(n): # iteration for category values possibilities
                    for z in range(super_list_length): # iteration for super list
                        temp = super_list[z].copy()
                        temp[3] = customer_category[j]
                        iter_list.append(temp)
            super_list = iter_list.copy()

        df["Flag"] = 0
        group_promo = [] 
        l = len(df)

        for i in range(l):
            if list(df.iloc[i,1:5]) in super_list:
                df.at[i, 'Flag'] = 1 # flag to 1 if the current dataframe row exist in super list
                group_promo.append(i+1)

    print(customer_name,"berpotensi masuk ke dalam group promo:",group_promo)
    
    return group_promo
    
group_res = potential_customer_group(name, customer_data)

s berpotensi masuk ke dalam group promo: [9, 11, 13, 15]

In [150]:
df

    Group Promo    Keaktifan Purchasing Score  Gender Customer category  Flag
0             1        Aktif           Tinggi    Pria              Gold     0
1             2        Aktif           Tinggi    Pria            Silver     0
2             3        Aktif           Tinggi  Wanita              Gold     0
3             4        Aktif           Tinggi  Wanita            Silver     0
4             5        Aktif           Rendah    Pria              Gold     0
5             6        Aktif           Rendah    Pria            Silver     0
6             7        Aktif           Rendah  Wanita              Gold     0
7             8        Aktif           Rendah  Wanita            Silver     0
8             9  Tidak aktif           Tinggi    Pria              Gold     1
9            10  Tidak aktif           Tinggi    Pria            Silver     0
10           11  Tidak aktif           Tinggi  Wanita              Gold     1
11           12  Tidak aktif           Tinggi  Wanita            Silver     0
12           13  Tidak aktif           Rendah    Pria              Gold     1
13           14  Tidak aktif           Rendah    Pria            Silver     0
14           15  Tidak aktif           Rendah  Wanita              Gold     1
15           16  Tidak aktif           Rendah  Wanita            Silver     0